/* Add a black background color to the top navigation */
body {
    font-family: "Trirong", serif;
    text-decoration: none;
    margin: 0px;
  }
  
  .flex-container {
    display: flex;
  }

  .flex-container > div {
    overflow: hidden;
  }

  .topnav {
      background-color: #3500d3;
      overflow: hidden;
      font-family: "Trirong", serif;
      /* position: fixed; */
      height: 10%;
      width: 100%;
    }
    
    /* Style the links inside the navigation bar */
    .topnav-right a {
      float: left;
      color: #bfbfbf;
      padding-top: 2.25vh;
      padding-left: 3vw;
      padding-right: 3vw;
      text-decoration: inherit;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      color: #f1f1f1;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      /*background-color: #d86ac2;*/
      color: #f1f1f1;
    }
  
    /* Right-aligned section inside the top navigation */
  .topnav-right {
    
    float: right;
  }
  
  .logo-image {
    float: left;
    text-align: center;
    padding-top: 1vh;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  
  .logo-name {
      float: left;
      color: #ffffff;
      text-align: center;
      padding-top: 1vh;
      padding-left: 5px;
      padding-right: 3vw;
      text-decoration: none;
      font-size: 25px;
  }
  
  /*----------------------------------------*/
  
  .playlist {  
    flex: 1;
    height: 93vh; /* 100% Full-height */
    width: 20%;
    top: 8.4%; 
    background-color: #282828; /* Black*/
    text-decoration: inherit;
    left: 0;
    display:flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    overflow: hidden;
  }
  
  .playlist a {
    padding: 8px 8px 8px 10px;
    font-size: 15px;
    color: #767676;
    display: block;
    transition: 0.3s;
    text-decoration: inherit;
  }

  .playlist a.active {
    color: #f1f1f1;
  }
  
  
  #current {
    background: #190061;
    display: block;
  }
  
  .bar-background{
      background-color: #351e7b;
      height: 0.5vh;
      border: 8px 8px 8px 32px;
  }
  
  .progress{
    color: #351e7b!important;
    background-color: #f1f1f1!important;
    height:100%;
    width: 33%;
    padding: 0px;
    display: block;
  }
  
  /*----------------------------------------*/
  
  .content {
    position: relative;
    width: 78.6%;
    height: 90vh;
    left: 20%;
    padding: 10px 10px;
    /*position: relative;
    left: 20%;
    /*padding: 10px 10px;*/
    /*height: 85vh;
    width: 80%;*/
    background-color: #0c0032!important;
    overflow: hidden !important;
  }

  /* Style the header */
  .grid-header {
    /*grid-area: header;*/
    background-color: #190061;
    padding: 0.1px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #282828;
    padding: 10px;
  }

  .grid-item-header {
    background-color: #3500d3;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }

  .grid-item-a {
    background-color: #0c0032;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #e3e3e3;
  }

  .grid-item-b {
    background-color: #190061;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #e3e3e3;
  }

  .grid-item-c {
    background-color: #200080;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #e3e3e3;
  }

  .grid-item-d {
    background-color: #28029a;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #e3e3e3;
  }

  .grid-item-none {
    background-color: #7c51ff;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #e3e3e3;
  }
  