<!DOCTYPE html>
<html>
    <head>
        <title>Tunity</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
        <script src="scripts/basic.js"></script>
        <script src="listener.js" defer></script>
    </head>
    <body>
        <%- include('partials/navbar', {userProfilePic: userProfilePic}) %>
        <%- include('partials/playlist', {song: [{name: "Song1"}, {name: "Song2"}]}) %>
        <div class="content">
            <%- include('partials/left-container') %>
            <%- include('partials/request-container') %>
        </div>
    </body>
</html>