<!DOCTYPE html>
<html>
    <head>
        <title>Tunity</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
        <script src="/scripts/basic.js"></script>
    </head>
    <body>
        <%- include('partials/navbar-no-login') %>
        <%- include('partials/playlist', {song: [{name: "Song1"}, {name: "Song2"}]}) %>
        <div class="content">
            <div class="login-window">
                <form action="/home" method="GET">
                    <legend>Login</legend>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
                    <br>
                    <label for="password">Password:</label>
                    <input type="text" id="password" name="password">
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>