<!DOCTYPE html>
<html>
    <head>
        <title>Tunity</title>
        <link rel="stylesheet" href="/schedule.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">

        <script src="/scripts/schedule.js"></script>
    </head>
    <body>
        <%- include('partials/producer-navbar') %>
          
        <div id="playlist">
          <ol>
            <div id="current">
              <li><a href="#">Song 1</a></li>
              <div class="bar-background">
                  <div class="progress"></div>
              </div>
            </div>
            <li><a href="#">Song 2</a></li>
            <li><a href="#">Song 3</a></li>
            <li><a href="#">Song 4</a></li>
            <li><a href="#">Song 5</a></li>
            <li><a href="#">Song 6</a></li>
            <li><a href="#">Song 7</a></li>
            <li><a href="#">Recommend Songs!</a></li>
          </ol>
        </div>
        <div class="content">
            <%- include('partials/schedule-partial') %>
        </div>
    </body>
</html>