<div class="dj-container">
    <figure>
        <img class="dj-art" style="padding-left: 40px;" src="<%= djImageSrc %>" width="300" height="300"/>
        <figcaption> <%= djName %> </figcaption>
    </figure>
    <div class="content-button">
        <a href="#djs-schedule" style="color: white;"> See DJs and Schedule </a>
    </div>
</div>
