<div class="topnav">
    <a class="navbar-brand" href="#">
        <img src="/images/logo.png" class="logo-image" href="#profile" width="50vh" height="50vh">
        <a class="logo-name" href="/index.html">Tunity</a>
    </a>
    <div class="topnav-right">
        <a class="img-navbar" href="#settings">
            <img src="/images/settings-gear.png" width="40" height="40" style="padding-top:0.75vh">
        </a>
        <a class="active" href="home.html" style="padding-top: 1.25vh;">Home</a>
        <a class="img-navbar" href="#profile">
            <img src="<%= userProfilePic %>" width="45" height="45" style="padding-top:0.5vh">
        </a>
        <a href="/index.html" style="padding-top: 1.25vh;">Log Out</a>
    </div>
</div>
