<div class="topnav">
    <a class="navbar-brand" href="/">
        <div class="logo-image">
              <img src="/images/logo.png" width="45" height="45">
        </div>
        <a class="logo-name" href="/">Tunity</a>
    </a>
    <div class="topnav-right">
        <a class="active" href="/">Home</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
    </div>
</div>