<div class="topnav">
    <a class="navbar-brand" href="#">
        <img src="../logo.png" class="logo-image" href="#profile" width="50vh" height="50vh">
      <a class="logo-name" href="#tunity">Tunity</a>
    </a>
  
    <div class="topnav-right">
      <a class = "img-navbar" href="#settings">
        <img src="../settings-gear.png" width="40" height="40" style="padding-top:0.75vh">
      </a>
      <a class="active" href="schedule.html" style="padding-top: 1.25vh;">Schedule</a>
      <a href="playlist.html" style="padding-top: 1.25vh;">Playlist</a>
      <a class="img-navbar" href="#profile">
        <img src="../user-profile-pic.png" width="45" height="45" style="padding-top:0.5vh">
      </a>
      <a href="index.html" style="padding-top: 1.25vh;">Log Out</a>
    </div>
  </div>