<!DOCTYPE html>
<html>
    <%- include('partials/head', { title: 'Tunity - Listener Homepage', scripts: ['listener'] }) %>
    <body>
        <%- include('partials/navbar', {userProfilePic: userProfilePic}) %>
        <!--removed playlist partial for now-->
        <div class="content">
            <%- include('partials/left-container') %>
            <%- include('partials/request-container') %>
        </div>
    </body>
</html>