<!DOCTYPE html>
<html>
    <%- include('partials/head', { title: 'Tunity - Signup' }) %>
    <body>
        <%- include('partials/navbar-no-login') %>
        <%- include('partials/playlist', songs) %>
        <div class="content">
            <div class="login-window">
                <form>
                    <legend>Sign Up</legend>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    <br>
                    <label for="email">Email:</label>
                    <input type="text" id="username" name="username" required>
                    <br>
                    <label for="password">Password:</label>
                    <input type="text" id="password" name="password" required>
                    <br>
                    <label for="password">Confirm Password:</label>
                    <input type="text" id="confirmPassword" name="confirmPassword" required>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>