<div class="artist-container">
    <figure>
        <img class="album-art" style="padding-left: 40px;" src="<%= albumImageSrc %>" width="300" height="300"/>
        <figcaption> <%= albumName %> </figcaption>
    </figure>
</div>
