<!--O Dodart-->
<div id="playlist">
    <ol>
      <div id="current">
        <li>
          <button id="toggle-song">▶</button>
          <%= song[0].title %>
          <script>
            document.getElementById('toggle-song').onclick = function() {
              toggle("<%= song[0].audioUrl %>");
            };
          </script>
        </li>
        <div class="bar-background">
            <audio id="song-audio" type="audio/mpeg"></audio>
            <input type="range" min="0" max="100" value="50" class="progress"></input>
        </div>
      </div>
      <% for(i=1; i < song.length; i++) { %>
        <li><%= song[i].title %></li>
      <% } %>
      <li>Recommend Songs!</li>
    </ol>
  </div>