/* Add a black background color to the top navigation */
body {
    font-family: "Trirong", serif;
    text-decoration: none;
    margin: 0px;
  }
  
  .flex-container {
    display: flex;
  }

  .flex-container > div {
    overflow: hidden;
  }

  .topnav {
      background-color: #3500d3;
      overflow: hidden;
      font-family: "Trirong", serif;
      /* position: fixed; */
      height: 10%;
      width: 100%;
    }
    
    /* Style the links inside the navigation bar */
    .topnav-right a {
      float: left;
      color: #bfbfbf;
      padding-top: 2.25vh;
      padding-left: 3vw;
      padding-right: 3vw;
      text-decoration: inherit;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      color: #f1f1f1;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      /*background-color: #d86ac2;*/
      color: #f1f1f1;
    }
  
    /* Right-aligned section inside the top navigation */
    .topnav-right {
    
      float: right;
    }
    
    .logo-image {
      float: left;
      text-align: center;
      padding-top: 1vh;
      padding-left: 3vw;
      padding-right: 3vw;
    }
    
    .logo-name {
        float: left;
        color: #ffffff;
        text-align: center;
        padding-top: 1vh;
        padding-left: 5px;
        padding-right: 3vw;
        text-decoration: none;
        font-size: 25px;
    }
    
    /*----------------------------------------*/
    
    #playlist {  
      height: 90%; 
      width: 20%;
      background-color: #282828; 
      text-decoration: inherit;
      left: 0;
      display: block;
      flex-direction: column;
      position: absolute;
      top: 10;
    }
    
    #playlist a {
      padding: 8px 8px 8px 10px;
      font-size: 15px;
      color: #767676;
      display: block;
      transition: 0.3s;
      text-decoration: inherit;
    }
    
    #playlist ol {
      list-style: none!important;
      padding: 0px 0px 0px 0px;
      margin: 0;
    }
    
    
    #current {
      background: #190061;
      display: block;
    }
    
    .bar-background{
        background-color: #351e7b;
        height: 3vh;
        border: 8px 8px 8px 8px;
    }
    
    .progress{
      color: #351e7b!important;
      background-color: #f1f1f1!important;
      height:100%;
      width: 33%;
      padding: 0px;
      display: block;
    }
  
  /*----------------------------------------*/
  
  .content {
    position: relative;
    width: 78.6%;
    height: 90vh;
    left: 20%;
    padding: 10px 10px;
    /*position: relative;
    left: 20%;
    /*padding: 10px 10px;*/
    /*height: 85vh;
    width: 80%;*/
    background-color: #0c0032!important;
    overflow: hidden !important;
  }

  .box{
    width: 100%;
  }

  form {
    background-color: #3500d3;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  /* Style the header */
  .grid-header {
    /*grid-area: header;*/
    background-color: #190061;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
  }

  .grid-container {
    display: grid;
    /* grid-template-columns: fit-content(300px) fit-content(300px) fit-content(300px); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    box-sizing: border-box;
    /* height: 200px; */
    width: 100%;
    background-color: #282828;
    padding: 10px;
  }

  .grid-item {
    background-color: #240090;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 15px;
    width: 90%;
    text-align: center;
    color: #e3e3e3;
  }

  .grid-item-button {
    justify-content: center;
    background-color: #3500d3;
    border: 50px solid #282828;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }

  .btn-container {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
  }
  .btn-container .btn-holder {
    justify-content: center;
    display: flex;
    color: #ffffff;
  }

  .button {
    background-color: #240090;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }