body {
    font-family: "Trirong", serif;
    text-decoration: none;
    margin: 0px;
  }
  
  .topnav {
      background-color: #3500d3;
      overflow: hidden;
      font-family: "Trirong", serif;
      height: 10%;
      width: 100%;
      padding-top: 1vh;
      padding-bottom: 1vh;
    }
    
    /* Style the links inside the navigation bar */
    .topnav-right a {
      position: relative;
      top: 0.25vh;
      float: left;
      color: #bfbfbf;
      padding-top: 1.25vh;
      padding-left: 3vw;
      padding-right: 3vw;
      text-decoration: inherit;
      font-size: 17px;
    }

    
    /* Change the color of links on hover */
    .topnav a:hover {
      color: #f1f1f1;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      /*background-color: #d86ac2;*/
      color: #f1f1f1;
    }
  
    /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }
  
  .img-navbar {
    height: 8vh;
    width: 8wh;
  }
  
  .logo-image {
    float: left;
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
    display: inline-block;
  }
  
  .logo-name {
      float: left;
      color: #ffffff;
      text-align: center;
      padding-left: 5px;
      padding-right: 3vw;
      text-decoration: none;
      font-size: 25px;
  }
  
  /*----------------------------------------*/
  
  #playlist {  
    height: 90%; 
    width: 20%;
    background-color: #282828; 
    text-decoration: inherit;
    left: 0;
    display: block;
    flex-direction: column;
    position: absolute;
  }
  
  #playlist a {
    padding: 8px 8px 8px 10px;
    font-size: 15px;
    color: #767676;
    display: block;
    transition: 0.3s;
    text-decoration: inherit;
  }

  #playlist li {
    padding: 8px 8px 8px 10px;
    font-size: 15px;
    color: #767676;
    display: block;
    text-align: center;
    transition: 0.3s;
    text-decoration: inherit;
  }
  
  #playlist ol {
    list-style: none!important;
    padding: 0px 0px 0px 0px;
    margin: 0;
  }
  
  #current {
    background: #190061;
    display: block;
  }
  
  #current a {
    color: white;
  }
  
  .bar-background{
      background-color: #351e7b;
      height: 3vh;
      border: 8px 8px 8px 8px;
  }
  
  .progress {
    -webkit-appearance: none;
    color: #3500d3;
    fill: #ffffff!important;
    height: 100%;
    width: 100%;
    padding: 0px;
    display: block;
    margin: 0;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1px;
    height: 3vh;
    background: #3500d3;
    cursor: pointer;
  }
  
  input[type="range"] {
    -webkit-appearance: none;
  
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      & {
        overflow: hidden;
        -webkit-appearance: none;
        background-color: #ffffff!important;
      }
  
      &::-webkit-slider-thumb {
        width: 1px;
        -webkit-appearance: none;
        height: 40px;
        cursor: ew-resize;
        background: #fff;
        box-shadow: -340px 0 0 340px #3500d3, inset 0 0 0 40px #3500d3;
        border-radius: 50%;
        position: relative;
      }
    }
  }
  
  #toggle-song {
    background: #190061;
    color: #ffffff;
    border:none;
    float: right;
  }
  /*----------------------------------------*/
  
  .content {
    display: flex;
    margin-left: auto;
    flex-direction: row; /* Layout children in a row */
    justify-content: space-between; /* Adjust as needed */
    align-items: stretch; /* Align items vertically */
    height: calc(90vh); /* Adjust the height as needed */
    left: 20;
    width: 80%; /* Adjust the width as needed */
    background-color: #0c0032;
    overflow: hidden;
}

.queue {  
    width: 40%;
    background-color: #111; /* Black*/
    text-decoration: inherit;
    top:10;
    left: 20;
    display:flex;
    flex-direction: column;
    position: absolute;
    }

    .song {
    padding: 8px 8px 8px 10px;
    font-size: 15px;
    color: white;
    display: block;
    text-decoration: inherit;
    }

    /* ----- Begin login/registration pages ------ */
.login-window {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./images/menu.png'); 
  background-size: contain; /* Scale the image to fit within the box */
  background-repeat: no-repeat;
  background-position: center center; 
  width: 1000px; /*Affects size of png*/
  height: 1000px; 
  text-align: center;
}

.login-window form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-window legend {
  font-size: 52px; 
  color: white; 
  font-family: "Trirong", serif;
  text-decoration: none;
}

.login-window label {
  font-size: 18px;
  color: white;
  display: block;
}

.login-window input[type="text"] {
  margin: 0px;
}

.login-window input[type="submit"] {
  background-color: #282828;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* ----- End login/registration pages ----- */
/* ----- Begin listener homepage ----- */
/* #351e7b pruple
#190061 darkblue
#767676 light gray playlsit text?
#282828 dark gray playlist
#3500d3 light blue


*/

.song-suggestion-form {
  border: 6px solid #02d0DB;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px; 
}


.song-suggestion-form legend {
  font-size: 48px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold; /* Make text bold */
  width: 100%;
}

.request-container {
  flex: 1;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  background-color: #282828;
}

.request-container .input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.request-container input[type="text"] {
  font-size: 24px;
  color: black;
  padding: 10px;
  margin: 10px 0;
  width: 98%; /* Expand width */
  background-color: #ffffff; /* Lighter background for input */
}

.request-container input[type="button"] {
  font-size: 24px;
  color: white;
  background-color: #3500d3; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-weight: bold; 
  transition: background-color 0.3s ease; 
}

.request-container input[type="button"]:hover {
  background-color: #190061; 
}


.request-container ol {
  font-size: 24px;
  padding-left: 20px;
  list-style-type: none;
}

.request-container li {
  margin: 10px 0;
  padding: 10px;
  background-color: #190061;
  border-radius: 10px;
  color: #fff; 
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item-text {
  flex-grow: 1;
}

.list-item-approved,
.list-item-pending,
.list-item-reject {
  background-size: cover; 
  width: 30px;
  height: 30px; 
  margin-left: 10px; 
}

.list-item-reject {
  background-image: url('./images/request-reject.svg');
}

.list-item-approved{
  background-image: url('./images/request-approved.png');
}

.list-item-pending{
  background-image: url('./images/request-pending.png'); 
}

.remove-button,
.cancel-button {
  background-color: #3500d3;
  color: white;
  padding: 5px 10px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-dialog {
  border: 2px solid #282828;
  border-radius: 5px;
  padding: 10px;
  text-decoration: inherit;
  background-color: #767676;
  font-size: 24px;
  color: #282828;

}


/* ----- End listener homepage ----- */
/* ----- Begin default homepage ----- */
.left-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  background-color: #282828;
}




/*Artist and dj container*/
.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.info {
  position: absolute;
  top: 0; /* Align top */
  left: 0; /* Align left */
  right: 0; /* Align right */
  bottom: 0; /* Align bottom */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out name and button */
  padding: 10px; /* Padding for text and button */
}

.name {
  color: white;
  text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000;
  font-size: 12px; /* Adjust size as needed */
  margin-left: 20px; /* Offset from left */
  margin-top: 10px; /* Offset from top */
}

.dj-schedule-button,
.button {
  color: white;
  background-color: #3500d3;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 24px;
  align-self: flex-end; /* Align button to the right */
  margin-right: 20px; /* Offset from right */
  margin-bottom: 10px; /* Offset from bottom */
}

.dj-container .dj-art,
.artist-container .album-art {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dj-container,
.artist-container {
    position: relative;
    flex: 1;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 50%; /* Adjust height as needed */
}

/*DJ container */
.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
}


.dj-container:hover .overlay,
.artist-container:hover .overlay {
    opacity: 0.35; 
    cursor: pointer;
}

.overlay {
    transition: opacity 0.5s ease; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.info {
    position: absolute;
    top: 0; /* Align top */
    left: 0; /* Align left */
    right: 0; /* Align right */
    bottom: 0; /* Align bottom */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out name and button */
    padding: 10px; /* Padding for text and button */
}

.name {
    color: white;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    font-size: 48px; /* Adjust size as needed */
    margin-left: 20px; /* Offset from left */
    margin-top: 10px; /* Offset from top */
}

.button {
    color: white;
    background-color: #3500d3;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 24px;
    align-self: flex-end; /* Align button to the right */
    margin-right: 20px; /* Offset from right */
    margin-bottom: 10px; /* Offset from bottom */
}
/*Dj container*/
/*Artist container */
.artist-container {
  flex: 1;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  background-color: #282828;
}

.album-name {
  left: 20px;
}
/*Artist container*/



.request-container h1{
  padding-left: 20px;
  size: 32px;
  color: #3500d3;
  position: relative;
}



.content-button {
  background-color: #3500d3;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.content figure {
  display: flex;
  flex-direction: column;
}

.content figcaption {
  order: -1;
  padding-left: 20px;
  font-size: 32px; 
  color: white;
  position: relative;
}

/*Place image below text*/
.content img {
  order: 1; 
}

.warning-icon {
  background-size: cover; 
  width: 100px;
  height: 100px; 
  background-image: url('./images/warning.png');
  margin: auto;
}
.warning-text {
  background-color: #767676;
  padding: 20px; 
  border-radius: 10px; 
  text-align: center; 
  font-size: 32px;
  margin: auto;
  width: 80%;
  height: 80%;
}

.warning-text a {
  display: inline-block;
  background-color: #3500d3;
  padding: 10px;
  border-radius: 10px; 
  margin: 5px; 
  text-decoration: none; 
  color: #e3f2fd; 
}
/* ----- End default homepage ----- */

/*Schedule modal*/
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color:  #282828;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
}
  .grid-header {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #282828;
    padding: 10px;
  }

  .grid-item-header {
    background-color: #3500d3;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }

  .grid-item-a {
    background-color: #0c0032;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #e3e3e3;
  }

  .grid-item-b {
    background-color: #190061;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #e3e3e3;
  }

  .grid-item-c {
    background-color: #200080;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #e3e3e3;
  }

  .grid-item-d {
    background-color: #28029a;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #e3e3e3;
  }

  .grid-item-none {
    background-color: #7c51ff;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #e3e3e3;
  }


.close-btn {
  float: right;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: red; 
  border-radius: 5px; 
  padding: 5px 10px; 
  margin: -10px -10px 10px 10px;
}

/*Schedule modal*/
