<div class="dj-container">
    <div class="image-container">
        <img class="dj-art" src="<%= djImageSrc %>" alt="DJ Image" />
    </div>
    <div class="overlay">
        <div class="info">
            <h2 class="name"><%= djName %></h2>
            <a href="#djs-schedule" class="button">See DJs and Schedule</a>
        </div>
    </div>
</div>
