<div class="left-container">
    <%- include('dj-container', {djName: djName, djImageSrc: djImageSrc}) %>
    <%- include('artist-container', {songDisplay: songDisplay, albumImageSrc: albumImageSrc}) %>
</div>
