<div class="topnav">
    <a class="navbar-brand" href="#">
        <img src="/images/logo.png" class="logo-image" href="#profile" width="50vh" height="50vh">
      <a class="logo-name" href="/home">Tunity</a>
    </a>
  
    <div class="topnav-right">
      <a class = "img-navbar" href="#settings">
        <img src="/images/settings-gear.png" width="40" height="40" style="padding-top:0.15vh">
      </a>
      <a class="active" href="/schedule" style="padding-top: 2vh;">Schedule</a>
      <a href="/playlist" style="padding-top: 2vh;">Playlist</a>
      <a class="img-navbar" href="#profile">
        <img src="<%= userProfilePic %>" width="45" height="45" style="padding-top:0.15vh">
      </a>
      <a href="/login" style="padding-top: 2vh;">Log Out</a>
    </div>
  </div>